image: node:4

cache:
  paths:
  - node_modules/

pages:
  only:
  - master
  before_script:
  - NPM_CONFIG_LOGLEVEL=warn
  - apt-get update -qq
  - apt-get install -y dictzip zip
  - npm install npm@latest -g
  - node -v
  - npm -v
  - npm install

  script:
  - npm test
  - node lib/fetch
  - npm start --tags=dsl
  - dictzip -k src/b*.dsl
  - mkdir public
  - zip -j public/bkrs.zip src/b*.dsl extras/*.bmp src/*.yml
  - zip -j public/bkrs-min.zip src/*.dsl.dz extras/*.bmp src/*.yml

  artifacts:
    paths:
    - public
